{% extends "base.html" %}
{% block title %}Saját parancs létrehozása{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<div class="gradientbackground">
    <div class="container col-xxl-8 px-4 py-5">
        <h4>Szabály hozzáadás<h4>
        <p class="lead">
            Az alábbi űrlapon saját parancsokat adhatunk meg. A parancsok létrehozása során a bot a parancs meghívása után a
            megadott kimenetet adja vissza egy beágyazott szövegben.
        </p>
        <form method="POST" action="/parancs-letrehozas">
            <div class="input-group mb-3">
                <span class="input-group-text" id="command">Meghívó parancs</span>
                <input type="text" name="command" class="form-control" placeholder="!példa" aria-label="command">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="title">Beágyazás címe</span>
                <input type="text" name="title" class="form-control" placeholder="Tökéletes Cím" aria-label="title">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="name">Beágyazás neve</span>
                <input type="text" name="name" class="form-control" placeholder="Tökéletes Név" aria-label="name">
            </div>
            <div class="input-group">
                <span class="input-group-text">Kimenet értéke</span>
                <textarea class="form-control" name="output" placeholder="Szép kimenet, akár linkekkel is." aria-label="output"></textarea>
            </div>
            <div class="input-group pt-4">
                <span><button type="submit" class="btn btn-primary mb-3"><i class="bi bi-check"></i>Létrehozás</button></span>
            </div>
        </form>
        <div class="examplepic shadow-sm mx-auto" style="width: 50%; height: 315px; border-radius: 21px 21px 21px 21px">
            <img src="../static/example.png" class="d-block mx-lg-auto img-fluid" alt="Példa" width="450" loading="lazy">
        </div>

    </div>
</div>
{% endblock %}
