{% extends "base.html" %}
{% block title %}Aktív parancsok{% endblock %}

{% block content %}
<div class="gradientbackground">
    <div class="container col-xxl-5 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <h2>Aktív Parancsok</h2>
<!-- 		       	<ul class="list-group">
                	{% for command in commands %}
				  		<li class="list-group-item">{{command}}</li>
					{% endfor %}
				</ul> -->
				
				<ul class="list-group mt-1">
	 				{% for item in values %}
				  		<li class="list-group-item mb-3"><a href="/parancs-modositas/{{item.id}}" class="btn btn-warning c-#000">Módosít</a>
						<a href="/parancs-torles/{{item.id}}" class="btn btn-danger">Töröl</a>
						<h5>Parancs: </h5>{{ item.command }} 
						<h5>Cím: </h5>{{ item.title }}
						<h5>Név: </h5>{{ item.name }}
						<h5>Kimenet: </h5>{{ item.output }}</li>
					{% endfor %}
				</ul>
        </div>
    </div>
</div>
{% endblock %}
